.tap_section {
    position: relative;
    height: 100%;
    /* display: grid; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    margin: auto;
}
.points_section .points img {
    position: relative;
    top: 2px;
}
.points_section .points span {
    color: #ffff;
    font-size: 2rem;
    font-weight: bold;
}
.points_section .trophy {
    color: #cecece;
    font-weight: 600;
}
.points_section .trophy .fa-angle-right {
    font-size: 12px;
    position: relative;
    top: 2px;
}
.tap_section .footer {
    position: absolute;
    bottom: 0px;
}
