:root {
  --bg_basic: #cecece7a;
  --muted_color: #cecece;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

.app {
  height: 100vh;
}

.main_section {
  max-width: 500px;
  margin: 0 auto;
  background-color: purple;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
}

.main_section footer {
  /* position: absolute;
  bottom: 0px;
  margin: 0 auto; */
}

.muted-color {
  color: var(--muted_color);
}